# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\vifill\Engine\QuantExt\ codebase based on best match to current usage at 10/26/2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

