[submodule "QuantLib"]
	path = QuantLib
	url = git@gitlab.acadiasoft.net:qs/quantlib.git
	branch = master
	ignore = dirty
[submodule "ORE-SWIG/QuantLib-SWIG"]
	path = ORE-SWIG/QuantLib-SWIG
	url = git@gitlab.acadiasoft.net:qs/QuantLib-SWIG.git