##########################
# General
##########################
*.aux
*.log
*.toc
*.out
*.user
*.opendb
*.tdo
*.pyg
*.synctex
*.nav
*.bnm
*.vrb
*.snm
w18-test-*.tex

##########################
# Docs
##########################
QuantExt/doc/.time-stamp
QuantExt/doc/.time-stamp-man
QuantExt/doc/html
QuantExt/doc/man
QuantExt/doc/quantext.tag
QuantExt/doc/xml

OREData/doc/.time-stamp
OREData/doc/.time-stamp-man
OREData/doc/html/
OREData/doc/man/
OREData/doc/ored.tag
OREData/doc/xml/

OREAnalytics/doc/.time-stamp
OREAnalytics/doc/.time-stamp-man
OREAnalytics/doc/html/
OREAnalytics/doc/man/
OREAnalytics/doc/orea.tag
OREAnalytics/doc/xml/

QuantExtPlus/doc/.time-stamp
QuantExtPlus/doc/.time-stamp-man
QuantExtPlus/doc/html
QuantExtPlus/doc/man
QuantExtPlus/doc/quantextplus.tag
QuantExtPlus/doc/xml

OREDataPlus/doc/.time-stamp
OREDataPlus/doc/.time-stamp-man
OREDataPlus/doc/html/
OREDataPlus/doc/man/
OREDataPlus/doc/oredp.tag
OREDataPlus/doc/xml/

OREPlus/Analytics/doc/.time-stamp
OREPlus/Analytics/doc/.time-stamp-man
OREPlus/Analytics/doc/html/
OREPlus/Analytics/doc/man/
OREPlus/Analytics/doc/oreap.tag
OREPlus/Analytics/doc/xml/

Docs/CodingStandards/ORE CodingStandards.pdf
Docs/UserGuide/userguide.pdf

##########################
# Examples
##########################
Examples/Legacy/Example_?/Output/
Examples/Legacy/Example_[0-9][0-9]/Output/
Examples/Academy/*/Output/
# these are generated
Examples/Legacy/Example_26/Input/EUR_xois_portfolio.xml
Examples/Legacy/Example_26/Input/USD_xois_portfolio.xml
Examples/Legacy/Example_26/Input/ois_portfolio.xml
Examples/Legacy/Example_75/amcTraining_*

##################
# XCode files
##################
*.xcuserdatad
*.mode1v3
*.pbxuser

##################
# compiled sources
##################
*.o
*.lo
*.la
*.lai
*.exe
*.class
*.com
*.dll
*.so
*.a
*.dylib
*.dylib.dSYM
*.jnilib
*.Plo
*.Po
.libs
.deps
.lib
.xll
.obj

##############
# OS generated
##############
.DS_Store?
.DS_Store
ethumbs.db
Icon?
Thumbs.db

##########
# packages
##########
*.7z
*.dmg
*.gz
*.tgz
*.jar
*.tar
*.zip
*.iso

#######################
# auto and other backup
#######################
*~
*.swp
*.#*
*.bak
*.save

#######################
# generated build files
#######################
compile
config.log
config.status
config.guess
config.sub
depcomp
ltmain.sh
missing
install-sh
elisp-comp
configure
aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
autom4te.cache
libtool
test-driver
Makefile
Makefile.in
stamp-*
config.hpp.in
*.ncb
*.suo
QuantExt/test/quantext-test-suite
QuantExt/test/main.cpp
OREData/test/ored-test-suite
OREData/test/main.cpp
OREAnalytics/test/orea-test-suite
OREAnalytics/test/main.cpp
OREAnalytics/test/[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]
OREAnalytics/test/crossgammReport
OREAnalytics/test/cube*.csv
OREAnalytics/test/defaultReturnConfig.xml
OREAnalytics/test/scenario
OREAnalytics/test/scenario*.csv
App/Release
App/Debug
App/lib
App/ore
QuantExt/UpgradeLog.XML
QuantExt/_UpgradeReport_Files
QuantExt/qle/config.hpp
OREData/ored/config.hpp
OREAnalytics/orea/config.hpp
App/config.hpp
OREPlus/Base/orepbase/config.hpp

########################
# generated Python files
########################
*.pyc

########################
# PyCharm
########################
*.idea
*.ipynb_checkpoints
*.pytest_cache

##########################
# generated QuantLib files
##########################
QuantLib/Examples/BermudanSwaption/BermudanSwaption
QuantLib/Examples/Bonds/Bonds
QuantLib/Examples/CDS/CDS
QuantLib/Examples/CallableBonds/CallableBonds
QuantLib/Examples/ConvertibleBonds/ConvertibleBonds
QuantLib/Examples/DiscreteHedging/DiscreteHedging
QuantLib/Examples/EquityOption/EquityOption
QuantLib/Examples/FRA/FRA
QuantLib/Examples/FittedBondCurve/FittedBondCurve
QuantLib/Examples/MarketModels/MarketModels
QuantLib/Examples/Replication/Replication
QuantLib/Examples/Repo/Repo
QuantLib/Examples/Swap/SwapValuation
QuantLib/elc-stamp
QuantLib/quantlib-config
QuantLib/quantlib.elc
QuantLib/QuantLib.spec
QuantLib/test-suite/quantlib-benchmark
QuantLib/test-suite/quantlib-test-suite
QuantLib/test-suite/main.cpp

##########################
# SWIG generated code
##########################
*.idb
ORE-SWIG/QuantLib-SWIG/Python/QuantLib/QuantLib.py
ORE-SWIG/QuantLib-SWIG/Python/QuantLib/quantlib_wrap.cpp
ORE-SWIG/QuantLib-SWIG/Python/QuantLib_Python.egg-info/
ORE-SWIG/OREAnalytics-SWIG/Python/OREAnalytics/OREAnalytics.py
ORE-SWIG/OREAnalytics-SWIG/Python/OREAnalytics/oreanalytics_wrap.cpp
ORE-SWIG/OREAnalytics-SWIG/Python/OREAnalytics_Python.egg-info/
ORE-SWIG/.build-stamp
ORE-SWIG/examples/Output/
ORE-SWIG/ORE.py
ORE-SWIG/oreanalytics_wrap.cpp
ORE-SWIG/dist/
ORE-SWIG/open_source_risk_engine.egg-info/


###############################
#generatedlog4cxxexecutables
###############################
console
delayedloop
stream
trivial
testsuite

#########################
# generated doxygen files
#########################
Doxyfile

###############################################
# bin, lib and build folders from Visual Studio
###############################################
bin/
lib/
build/
build_debug/

# Visual Studio database files
*.sdf
*.opensdf
*.db
.vs/
*.pdb

# Visual Studio Code files
.vscode/

# config folders
config/

# DS_Store files
*.DS_Store

#########################
# global files
#########################
GPATH
GTAGS
GRTAGS

###########################
# more artefacts / binaries
###########################

Docs/UserGuide/userguide.pdf
Examples/*/Output/*.csv
Examples/*/Output/log.txt
Examples/*/Output/*.pdf
*/*/Output/*
Test/test
Test/simulation
Test/Output/
*/test/*.txt
!*/test/CMakeLists.txt
*.dSYM/
*.dat
*_region_*
*_minted*

# additional recommendations from  https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

*log.txt
*.dat

QuantExt/qle/gitversion.hpp

##########################
# Examples output
##########################
Examples/*/Output/
logs/

Examples/**/pricingstats.csv

# Windows latex build output
*fdb_latexmk
*.fls

.gitmodules

