version: '3'

services:
  env_ore:
    image: env_ore:${ORE_TAG}
    cap_drop:
      - NET_RAW
    build:
      context: ../
      dockerfile: Docker/Dockerfile-ORE
      args:
        - DEBIAN_TAG=${DEBIAN_TAG}
        - cmake_build_type=${CMAKE_BUILD_TYPE}
        - NUM_CORES=${NUM_CORES}
        - ORE_BUILD_VERSION=${ORE_BUILD_VERSION}
