##########################
# SWIG generated code
##########################
*.idb
QuantLib-SWIG/Python/QuantLib/QuantLib.py
QuantLib-SWIG/Python/QuantLib/quantlib_wrap.cpp
QuantLib-SWIG/Python/QuantLib_Python.egg-info/
QuantExt-SWIG/Python/QuantExt/QuantExt.py
QuantExt-SWIG/Python/QuantExt/quantext_wrap.cpp
QuantExt-SWIG/Python/QuantExt_Python.egg-info/
QuantExt-SWIG/Python/dist/
#QuantExt-SWIG/Python/setup.py
QuantExt-SWIG/Python/.build-stamp
QuantExt-SWIG/quantlib-config
OREData-SWIG/Python/OREData/OREData.py
OREData-SWIG/Python/OREData/oreanalytics_wrap.cpp
OREData-SWIG/Python/OREData_Python.egg-info/
OREData-SWIG/Python/dist/
#OREData-SWIG/Python/setup.py
OREData-SWIG/Python/.build-stamp
OREAnalytics-SWIG/Python/OREAnalytics/OREAnalytics.py
OREAnalytics-SWIG/Python/OREAnalytics/oreanalytics_wrap.cpp
OREAnalytics-SWIG/Python/OREAnalytics_Python.egg-info/
OREAnalytics-SWIG/Python/dist/
#OREAnalytics-SWIG/Python/setup.py
OREAnalytics-SWIG/Python/.build-stamp
OREPlus-SWIG/Python/OREPlus/OREPlus.py
OREPlus-SWIG/Python/OREPlus/oreplus_wrap.cpp
OREPlus-SWIG/Python/OREPlus_Python.egg-info/
OREPlus-SWIG/Python/dist/
OREAnalytics-SWIG/Python/examples/Output/
OREAnalytics-SWIG/Python/vc140.idb
#OREPlus-SWIG/Python/setup.py
OREPlus-SWIG/Python/.build-stamp
OREPlus-SWIG/Python/OREPlus/OREAnalytics.py
OREPlus-SWIG/Python/examples/Output/*
#
##########################
# General
##########################
*.aux
*.log
*.toc
*.out
*.user
*.opendb
*.tdo

##################
# XCode files
##################
*.xcuserdatad
*.mode1v3
*.pbxuser

##################
# compiled sources
##################
*.o
*.lo
*.la
*.lai
*.exe
*.class
*.com
*.dll
*.so
*.a
*.dylib
*.dylib.dSYM
*.jnilib
*.Plo
*.Po
.libs
.deps
.lib
.xll
.obj

##############
# OS generated
##############
.DS_Store?
.DS_Store
ethumbs.db
Icon?
Thumbs.db

##########
# packages
##########
*.7z
*.dmg
*.gz
*.tgz
*.jar
*.tar
*.zip
*.iso

#######################
# auto and other backup
#######################
*~
*.swp
*.#*
*.bak
*.save

#######################
# generated build files
#######################
compile
config.log
config.status
config.guess
config.sub
depcomp
ltmain.sh
missing
install-sh
elisp-comp
configure
aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
autom4te.cache
libtool
test-driver
Makefile
Makefile.in
stamp-*
config.hpp.in
*.ncb
*.suo

########################
# generated Python files
########################
*.pyc

########################
# PyCharm
########################
*.idea
*.ipynb_checkpoints

###############################
#generatedlog4cxxexecutables
###############################
console
delayedloop
stream
trivial
testsuite

#########################
# generated doxygen files
#########################
Doxyfile

###############################################
# bin, lib and build folders from Visual Studio
###############################################
bin/
lib/
build/

# Visual Studio database files
*.sdf
*.opensdf
*.db
.vs/

# config folders
config/

# DS_Store files
*.DS_Store

#########################
# global files
#########################
GPATH
GTAGS
GRTAGS

###########################
# more artefacts / binaries
###########################

*/*/Output/*
Test/test
Test/simulation
Test/Output/
*/test/*.txt
*.dSYM/
*.dat
*_region_*
*_minted*

# additional recommendations from  https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

*log.txt
*.dat
